<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <div *ngFor="let u of user">
    <h1>Canciones</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let s of songs">
          <ion-card class="glass-content">   
            <ion-card-header>
              <ion-card-title>{{s.name}}</ion-card-title> <br>
              <p>Número: {{s.number}}</p>
  
              <div style="text-align: center;">
                <audio controls>
                  <source src="{{url}}/songs/song/{{s.file}}" type="audio/mpeg">
                  <source src="{{url}}/songs/song/{{s.file}}" type="audio/wav">
                  Tu navegador no soporta el elemento de audio.
                </audio>
              </div> <br>
  
            </ion-card-header>
              <ion-card-content>
                {{s.duration}} <br>
                <div>
  
                  <ion-button *ngIf="u.role !== 'user'" (click)="navigateToEditSong(s.id)" color="secondary">
                    Editar
                  </ion-button> 
      
                  <ion-button *ngIf="u.role !== 'user'" (click)="deleteSong(s.id)" color="#">Eliminar</ion-button>
  
                </div>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
